/* Bloque principal del componente de información de tiendas */
.stores-info {
  padding: 20px;
  &__title {
    color: #c340af;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    /* Comportamiento responsivo para el header */
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__filter {
    flex-grow: 1;
  }

  &__add-button {
    background-color: #c340af;
    color: white;
    margin-left: 10px;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }
  }

  &__table {
    width: 100%;
    margin-bottom: 20px;
  }

  /* Paginador */
  &__paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  }

  /* Responsividad para pantallas pequeñas */
  @media (max-width: 768px) {
    padding: 10px;
    margin-top: 10px;

    &__title {
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    &__title {
      font-size: 18px;
    }
  }
}
