.category-form {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &__tab-group {
    margin-bottom: 20px;

    .mat-tab-label {
      color: #c340af;
    }

    .mat-tab-label-active {
      color: #c340af !important;
      font-weight: bold;
    }
  }

  &__field {
    width: 100%;
    margin-bottom: 16px;

    .mat-input-element {
      color: #667085;
    }

    .mat-form-field-label {
      color: #c340af;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: #c340af;
    }
  }

  &__drop-zone {
    border: 2px dashed #c340af;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #c340af;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #fdeefb;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #667085;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    .category-form__button {
      min-width: 160px;

      &--cancel {
        background-color: white;
        color: #c340af;
        border: 1px solid #c340af;
      }

      &--save {
        background-color: #c340af;
        color: white;
      }
    }
  }
}
@media (min-width: 1100px) {
}
