.category-error-modal {
  padding: 40px;
  text-align: center;

  h2 {
    font-size: 20px;
    color: #3f3939;
    margin-bottom: 24px;
  }

  .error-button {
    background-color: #c340af;
    color: white;
    min-width: 120px;
  }
}
