:host {
  height: 200px;
  @media (max-width: 720px) {
    height: 200px;

  }
}
.container-banner {
  width: 90%;
  height: 100%;
  display: flex;
  background: linear-gradient(23.85deg, #C340AF 16.54%, #E46AD2 85.89%);
  border-radius: 15px;
  padding: 2rem;
  margin: auto;
  @media (max-width: 720px) {
    width: 350px;

  }
  @media (max-width: 400px) {
    width: 300px;
    margin-left: 2rem;
    border-radius: 5px;
    padding: 1rem;
  }
}
.container-banner-left {
  display: block;

}
.container-banner-title {
font-family: Inter;
font-size: 28.39px;
font-weight: 700;
line-height: 37.85px;
text-align: left;
color: #FFFFFF;
@media (max-width: 720px) {
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 37.85px;
text-align: left;

}
 }
 .container-banner-paragraph {
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #FFFFFF;
@media (max-width: 720px) {
  margin-top: 0.5rem;
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: left;
color: #E0E0E0;

}
@media (max-width: 400px) {
  width: 200px;
  font-family: Inter;
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: left;

}
 }
.container-banner-buttons {
   margin-top: 2rem;
  display: flex;
 gap: 5rem;
 @media (max-width: 720px) {
 flex-direction: column;
 margin-top: 0.5rem;
 gap: 0.4rem;
font-size: 14px;
font-weight: 600;
line-height: 16.94px;


}
}
.container-banner-buttons a {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
  @media (max-width: 720px) {
    font-size: 14px;

   }

}

/*
.container-banner {
  &__svg {
    background-color: #FFFFFF;
 margin-top: -52px !important;
  width: 490px;
  height: 200px;
  background-image: url(../../../../assets/img/banner/bannerDashboard.png);
  background-size: cover;
  background-repeat: no-repeat;
  }
} */
/*
.container-banner {
  &__svg {
  background-image: url( "data:image/svg+xml,<svg viewBox='0 0 350 200' fill='none' xmlns='http://www.w3.org/2000/svg'><mask id='mask0_2039_2360' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='207' y='47' width='280' height='172'><path d='M487 47.4683H207.931V218.245H487V47.4683Z' fill="white"/>
  </mask>
  <g mask="url(#mask0_2039_2360)">
  <path d="M487.38 56.6392C480.823 66.8554 478.447 76.739 464.952 79.8751C455.163 82.156 444.947 80.3028 434.921 80.0652C424.847 79.8276 413.776 81.7758 407.361 89.4736C399.616 98.7395 401.089 113.28 393.343 122.593C379.801 138.844 348.487 128.343 335.942 145.354C328.72 155.19 334.042 170.015 328.197 180.707C319.406 196.863 303.06 200.807 294.412 201.329H487.38V56.6392Z" fill="url(#paint0_linear_2039_2360)"/>
  </g>
  <mask id="mask1_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-20" y="-33" width="430" height="263">
  <path d="M409.051 -32.8921H-20V229.667H409.051V-32.8921Z" fill="white"/>
  </mask>
  <g mask="url(#mask1_2039_2360)">
  <path opacity="0.4" d="M299.132 84.5068C299.059 84.3607 298.986 84.2876 298.84 84.2876H295.698L294.749 81.2924C294.676 81.1463 294.602 81.0732 294.456 81.0732C294.31 81.0732 294.164 81.1463 294.164 81.2924L293.214 84.2876H290.073C289.927 84.2876 289.781 84.3607 289.781 84.5068C289.708 84.6529 289.781 84.799 289.927 84.8721L292.484 86.6985L291.534 89.6937C291.461 89.8398 291.534 89.9859 291.68 90.059C291.826 90.132 291.973 90.132 292.046 90.059L294.602 88.2326L297.159 90.059C297.232 90.132 297.306 90.132 297.379 90.132C297.452 90.132 297.525 90.132 297.598 90.059C297.744 89.9859 297.744 89.8398 297.744 89.6937L296.794 86.6985L299.351 84.8721C299.132 84.726 299.205 84.5799 299.132 84.5068Z" fill="white"/>
  </g>
  <mask id="mask2_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-20" y="-57" width="494" height="302">
  <path d="M473.386 -57H-20V244.929H473.386V-57Z" fill="white"/>
  </mask>
  <g mask="url(#mask2_2039_2360)">
  <mask id="mask3_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-36" y="-88" width="563" height="564">
  <path d="M313.09 -87.0626L-35.7836 261.811L177.71 475.305L526.584 126.431L313.09 -87.0626Z" fill="white"/>
  </mask>
  <g mask="url(#mask3_2039_2360)">
  <path d="M362.513 79.1461C367.861 73.7985 367.861 65.1283 362.513 59.7807C357.165 54.4331 348.495 54.4331 343.148 59.7807C337.8 65.1283 337.8 73.7985 343.148 79.146C348.495 84.4936 357.165 84.4936 362.513 79.1461Z" fill="#0A1931"/>
  </g>
  <mask id="mask4_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask4_2039_2360)">
  <path d="M254.929 192.608C256.861 195.969 260.389 198.153 264.338 198.153H397.66C401.525 198.153 405.137 196.053 407.069 192.608C409.001 189.248 408.917 185.047 406.817 181.771L370.357 122.545C367.585 118.092 362.124 116.328 357.336 118.176C340.618 110.447 321.38 110.447 304.662 118.176C299.957 116.328 294.413 118.092 291.641 122.545L255.181 181.771C253.08 185.047 252.996 189.164 254.929 192.608ZM378.422 176.646H365.065V154.972L378.422 176.646ZM283.576 176.646L296.933 154.972V176.646H283.576Z" fill="#0A1931"/>
  </g>
  <mask id="mask5_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask5_2039_2360)">
  <path d="M330.957 128.929C336.249 128.929 340.534 124.645 340.534 119.352V87.1768H321.464V119.436C321.38 124.645 325.664 128.929 330.957 128.929Z" fill="#535353"/>
  <path d="M330.957 124.897C336.25 124.897 340.534 120.612 340.534 115.32V83.144H321.464V115.32C321.38 120.612 325.664 124.897 330.957 124.897Z" fill="#FF9E9B"/>
  <path opacity="0.5" d="M340.534 106.582C340.534 111.875 336.249 116.159 330.957 116.159C325.664 116.159 321.38 111.875 321.38 106.582V85.6641H340.45V106.582H340.534Z" fill="#FF9E9B"/>
  </g>
  <mask id="mask6_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask6_2039_2360)">
  <path d="M339.022 198.069H373.045V197.901C373.045 188.491 365.401 180.931 356.076 180.931C346.667 180.931 339.106 188.575 339.106 197.901V198.069H339.022Z" fill="#535353"/>
  </g>
  <mask id="mask7_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask7_2039_2360)">
  <path d="M332.385 107.843C343.558 106.919 351.875 97.1738 350.951 86.0006L348.347 54.1611L307.938 57.4375L310.543 89.277C311.467 100.45 321.212 108.767 332.385 107.843Z" fill="#FF9E9B"/>
  </g>
  <mask id="mask8_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask8_2039_2360)">
  <path d="M333.561 81.0434C334.304 81.0434 334.905 80.3664 334.905 79.5312C334.905 78.6961 334.304 78.019 333.561 78.019C332.819 78.019 332.217 78.6961 332.217 79.5312C332.217 80.3664 332.819 81.0434 333.561 81.0434Z" fill="#0A1931"/>
  </g>
  <mask id="mask9_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask9_2039_2360)">
  <path d="M317.263 81.0434C318.006 81.0434 318.607 80.3664 318.607 79.5312C318.607 78.6961 318.006 78.019 317.263 78.019C316.521 78.019 315.919 78.6961 315.919 79.5312C315.919 80.3664 316.521 81.0434 317.263 81.0434Z" fill="#0A1931"/>
  </g>
  <mask id="mask10_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask10_2039_2360)">
  <path d="M336.838 90.957C337.006 93.3933 335.914 95.7456 333.813 96.8377C331.713 97.9298 329.109 97.5097 327.261 95.9976L336.838 90.957Z" fill="white"/>
  </g>
  <mask id="mask11_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask11_2039_2360)">
  <path d="M335.157 198.069H366.157V197.901C366.157 189.332 359.184 182.359 350.615 182.359C342.046 182.359 335.073 189.332 335.073 197.901V198.069H335.157Z" fill="#FF9E9B"/>
  </g>
  <mask id="mask12_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask12_2039_2360)">
  <path d="M330.873 198.069H351.539V197.984C351.539 192.272 346.919 187.651 341.206 187.651C335.493 187.651 330.873 192.272 330.873 197.984V198.069Z" fill="#424147"/>
  </g>
  <mask id="mask13_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask13_2039_2360)">
  <path d="M225.189 198.069H319.448C323.564 198.069 326.925 194.708 326.925 190.592H217.713C217.713 194.792 221.073 198.069 225.189 198.069Z" fill="#303030"/>
  <path d="M215.612 190.676H291.053C293.153 190.676 294.749 188.659 294.245 186.643L282.82 137.414C282.484 135.902 281.139 134.894 279.627 134.894H204.187C202.087 134.894 200.491 136.91 200.995 138.926L212.42 188.155C212.672 189.584 214.016 190.676 215.612 190.676Z" fill="#424147"/>
  <path d="M213.008 190.676H288.448C290.549 190.676 292.145 188.659 291.641 186.643L280.216 137.414C279.879 135.902 278.535 134.894 277.023 134.894H201.583C199.483 134.894 197.887 136.91 198.391 138.926L209.816 188.155C210.152 189.584 211.412 190.676 213.008 190.676Z" fill="#5F5F5F"/>
  <path d="M244.175 171.438C249.001 171.438 252.912 167.526 252.912 162.701C252.912 157.876 249.001 153.964 244.175 153.964C239.35 153.964 235.438 157.876 235.438 162.701C235.438 167.526 239.35 171.438 244.175 171.438Z" fill="#2D2D2D"/>
  </g>
  <mask id="mask14_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask14_2039_2360)">
  <path d="M330.453 36.3509C317.179 34.5867 304.662 45.6759 302.562 61.2176L350.699 67.6863C352.799 52.1446 343.726 38.1151 330.453 36.3509Z" fill="#0A1931"/>
  </g>
  <mask id="mask15_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask15_2039_2360)">
  <path d="M310.459 71.5509C315.499 72.223 320.12 68.6946 320.792 63.654L302.562 61.2178C301.89 66.2583 305.418 70.8788 310.459 71.5509Z" fill="#0A1931"/>
  </g>
  <mask id="mask16_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask16_2039_2360)">
  <path d="M328.941 68.7784C337.846 72.6428 347.003 71.2987 349.355 65.8381L317.011 51.8926C314.659 57.3532 319.952 64.914 328.941 68.7784Z" fill="#0A1931"/>
  </g>
  <mask id="mask17_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask17_2039_2360)">
  <path d="M358.512 80.12C359.436 84.0684 356.916 88.0169 352.967 88.941C349.019 89.8651 345.071 87.3448 344.146 83.3964C343.222 79.4479 345.743 75.4995 349.691 74.5754C353.639 73.6513 357.588 76.1716 358.512 80.12Z" fill="#FF9E9B"/>
  </g>
  <mask id="mask18_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask18_2039_2360)">
  <path opacity="0.5" d="M327.176 78.5234C327.176 78.5234 325.916 86.5883 322.892 89.3606C325.832 90.7048 326.42 89.3606 326.42 89.3606" stroke="#FF9E9B" stroke-width="1.04806" stroke-miterlimit="10"/>
  </g>
  <mask id="mask19_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask19_2039_2360)">
  <path d="M317.515 74.3233C316.591 74.2393 315.667 74.3233 314.827 74.6594C314.323 74.8274 313.735 74.7434 313.483 74.2393C313.231 73.8193 313.483 73.1472 314.155 72.8952C315.247 72.4751 316.507 72.3071 317.683 72.3911C318.355 72.4751 318.86 72.9792 318.692 73.4832C318.524 74.1553 318.019 74.4073 317.515 74.3233Z" fill="#0A1931"/>
  </g>
  <mask id="mask20_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask20_2039_2360)">
  <path d="M333.981 74.3233C334.905 74.2393 335.829 74.3233 336.669 74.6594C337.174 74.8274 337.762 74.7434 338.014 74.2393C338.266 73.8193 338.014 73.1472 337.342 72.8952C336.249 72.4751 334.989 72.3071 333.813 72.3911C333.141 72.4751 332.637 72.9792 332.805 73.4832C332.973 74.1553 333.477 74.4073 333.981 74.3233Z" fill="#0A1931"/>
  </g>
  <mask id="mask21_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-72" y="-94" width="576" height="482">
  <path d="M432.798 -93.9645L-71.2456 198.828L-0.783514 387.072L503.26 94.2796L432.798 -93.9645Z" fill="white"/>
  </mask>
  <g mask="url(#mask21_2039_2360)">
  <path d="M351.881 57.1669C356.146 54.7113 358.718 50.3683 357.626 47.4667C356.534 44.5651 352.191 44.2035 347.926 46.6591C343.661 49.1148 341.088 53.4577 342.18 56.3594C343.272 59.261 347.615 59.6226 351.881 57.1669Z" fill="#0A1931"/>
  </g>
  <mask id="mask22_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask22_2039_2360)">
  <path d="M322.304 52.985C321.38 59.5377 315.415 64.1582 308.779 63.2341C302.226 62.31 297.605 56.3453 298.529 49.7086C299.453 43.1559 305.418 38.5354 312.055 39.4595C318.608 40.3836 323.228 46.4322 322.304 52.985Z" fill="#0A1931"/>
  </g>
  <mask id="mask23_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask23_2039_2360)">
  <path d="M354.732 80.9597C355.152 82.8919 353.976 84.7402 352.043 85.1602C350.111 85.5802 348.263 84.4041 347.843 82.4719C347.423 80.5397 348.599 78.6915 350.531 78.2714C352.463 77.8514 354.312 79.0275 354.732 80.9597Z" fill="#0A1931"/>
  </g>
  <mask id="mask24_2039_2360" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="-59" y="-70" width="495" height="303">
  <path d="M435.38 -69.333H-58.0055V232.596H435.38V-69.333Z" fill="white"/>
  </mask>
  <g mask="url(#mask24_2039_2360)">
  <path d="M342.718 96.0809C346.079 95.6609 349.103 93.4766 350.531 90.3683C351.791 87.596 351.455 84.5717 351.203 81.6313" stroke="white" stroke-width="1.9694" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M344.103 97.2406L338.642 97.6607C337.802 97.7447 337.046 97.0726 337.046 96.2325C336.962 95.3924 337.634 94.6364 338.474 94.6364L343.935 94.2163L344.103 97.2406Z" fill="#0A1931"/>
  </g>
  <path d="M289.52 68.1737C289.52 68.7617 289.016 69.2658 288.427 69.2658C287.839 69.2658 287.335 68.7617 287.335 68.1737C287.335 67.5856 287.839 67.0815 288.427 67.0815C289.016 67.0815 289.52 67.5016 289.52 68.1737Z" fill="white"/>
  <path d="M120.409 53.0518C120.325 55.404 118.477 57.2522 116.125 57.2522V57.3362C118.477 57.3362 120.325 59.1844 120.325 61.5367H120.409C120.409 59.1844 122.257 57.3362 124.609 57.3362V57.2522C122.257 57.2522 120.409 55.404 120.409 53.0518Z" fill="white"/>
  </g>
  <path d="M191.201 111.757C191.128 113.802 189.521 115.41 187.475 115.41V115.483C189.521 115.483 191.128 117.09 191.128 119.135H191.201C191.201 117.09 192.808 115.483 194.854 115.483V115.41C192.808 115.41 191.201 113.802 191.201 111.757Z" fill="white"/>
  <defs>
  <linearGradient id="paint0_linear_2039_2360" x1="371.443" y1="109.503" x2="475.33" y2="213.391" gradientUnits="userSpaceOnUse">
  <stop stop-color="#E9EBF9"/>
  <stop offset="1" stop-color="white"/>
  </linearGradient>
  </defs>
  </svg>" );
  @media (max-width: 800px) {
   display: none
  }
}


}
*/
